<!--The content below is only a placeholder and can be replaced.-->
<div class="signafire">
  <div class="signafire__toolbar">
    <div class="signafire__logo">
      <img src="../assets/logo-sf-small.png" alt="Signafire">
    </div>
    <div class="signafire__title">Message Viewer</div>
  </div>

  <div class="signafire__body">
    <app-messages-count
    [starCount]="messagesDataService.starCount"
    ></app-messages-count>

    <!-- Insert Message List Here -->
    <app-messages-list
    [messages]="messages"
    (messageStarred)="onStarClick($event)"
    ></app-messages-list>

  </div>
</div>
